.linkBase(@initialColor: true) {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		& when (@initialColor = true) {
			background-color: currentColor;
		}
	}
}
