@import './colors';
@import './typography';
@import './sharedVariables';
@import '../helpers/responsiveBreakpoints';

//local vars
@selectionColor: var(--selection-bg-color);
@selectionFontColor: @color-white;
@linkColor: @defaultFontColor;
@h1color: inherit;
@defaultFontSize: @fontSize--m;
@defaultLineHeight: @lineHeight--m;
@h1fontSize: @fontSize--xl;
@h1lineHeight: @lineHeight--xl;
@paragraphSpacing: 7px;

html {
	min-width: 320px;
	min-height: 100%;
	background: @color-white;
	color: @defaultFontColor;
	font-family: @fontName--primary;
	font-size: 25px;
	font-weight: 300;
	line-height: @defaultLineHeight;


	.phone({
		font-size: 20px;
	})
}
body {
	height: 100%;
}

h1 {
	color: @h1color;
	font-size: @h1fontSize;
	font-family: @fontName--secondary;
	line-height: @h1lineHeight;
}

p {
	margin-bottom: @paragraphSpacing;
}

a {
	color: @linkColor;
	text-decoration: none;
}

::selection {
	background: @selectionColor;
	color: @selectionFontColor;
}
