@fontName: ~'"Lora", serif';

@fontSize--xl: 40px;
@fontSize--l: 30px;
@fontSize--m: 25px;
@fontSize--s: 15px;

@lineHeight--xl: 51px;
@lineHeight--l: 39px;
@lineHeight--m: 38px;
@lineHeight--s: 23px;
