@import '../helpers/responsiveBreakpoints';

.linkBase(@initialColor: true, @position: 'bottom', @action: false) {
	display: inline-block;
	position: relative;
	line-height: normal;

	&:before {
		content: '';
		position: absolute;
		right: 0;
		left: 0;

		& when (@position = 'bottom') {
			bottom: 0;
			z-index: -1;
		}
		& when (@position = 'middle') {
			top: 50%;
			z-index: 1;
		}

		& when (@initialColor = true) {
			background-color: currentColor;
		}
		& when (isColor(@initialColor)) {
			background-color: @initialColor;
		}

		& when (@action = true) {
			background: transparent;
		}
	}

	& when (@action = true) {
		&:after {
			transform: translate(-50%, -50%);
			position: absolute;
			left: 50%;
			top: 50%;
			color: var(--decorator-color);
			pointer-events: none;
		}
	}
}
