<!DOCTYPE html>
<html lang="en" id="mainContainer">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>bartosz dębicki — designer / developer / leader</title>
    </head>
    <body id="contentContainer">
        <header id="topSection">
            <h1 class="name">bartosz dębicki</h1>
            <ul class="positions separatedList">
                <li class="separatedList__item">designer</li>
                <li class="separatedList__item">developer</li>
                <li class="separatedList__item">leader</li>
            </ul>
        </header>
        <article id="contentSection">
            <p>
                professionally passionate about design systems that i lead <a href="http://uxpin.com" class="simpleLink" data-hover-decoration title="UXPin">@uxpin</a>.<br>
                previously worked for <a href="http://nokaut.pl" class="simpleLink" data-hover-decoration target="_blank" title="go to nokaut.pl">nokaut.pl</a>, <a href="http://zjednoczenie.com" class="simpleLink" data-hover-decoration target="_blank" title="go to zjednoczenie.com">zjednoczenie.com</a>, <a href="http://engine.pl" class="simpleLink" data-hover-decoration target="_blank" title="go to engine.pl">engine.pl</a> and co-found taniprzeglad.pl.
            </p>
            <p>privately <a href="https://www.discogs.com/user/earl.debicki/collection" class="simpleLink simpleLink--with-icon icon--vinyl icon--in-text" data-hover-decoration target="_blank" title="check out my discogs collection"><span class="simpleLink__hoverHelper">music collector</span></a>, <span class="icon--ticket icon--in-text">live music lover</span> and <a href="https://www.strava.com/athletes/44963726" class="simpleLink simpleLink--with-icon icon--bike icon--in-text" data-hover-decoration target="_blank" title="check out my strava account"><span class="simpleLink__hoverHelper">beginner cyclist</span></a>.</p>
            <p>open for remote job opportunities in design systems area. feel free to <a href="mailto:bartosz.debicki@zoin.pl" class="decoratedLink" data-hover-decoration title="send me an email">contact me</a>.</p>
        </article>
        <footer id="bottomSection">
            <nav>
                <ul class="separatedList">
                    <li class="separatedList__item">
                        <a
                            href="https://www.linkedin.com/in/bartoszdebicki/"
                            class="simpleLink simpleLink--weight-light"
                            data-hover-decoration
                            target="_blank"
                            title="ny linkedIn profile"
                        >
                            linkedIn
                        </a>
                    </li>
                    <li class="separatedList__item">
                        <a
                            href="https://github.com/bdebicki"
                            class="simpleLink simpleLink--weight-light"
                            data-hover-decoration
                            target="_blank"
                            title="my github profile"
                        >
                            github
                        </a>
                    </li>
                    <li class="separatedList__item">
                        <a
                            href="https://www.instagram.com/earl.debicki/"
                            class="simpleLink simpleLink--weight-light"
                            data-hover-decoration
                            target="_blank"
                            title="my instagram profile"
                        >
                            instagram
                        </a>
                    </li>
                </ul>
            </nav>
            <p class="location">made with <span class="icon--heart icon--replace-content">❤</span> in gdynia, poland</p>
        </footer>
    </body>
</html>
