<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bartosz dębicki — designer / developer / leader</title>
    </head>
    <body>
        <header id="topSection">
            <h1 class="name">bartosz dębicki</h1>
            <ul class="positions separatedList">
                <li class="separatedList__item">designer</li>
                <li class="separatedList__item">developer</li>
                <li class="separatedList__item">leader</li>
            </ul>
        </header>
        <article>
            <p>
                professionally passionate about design systems who i’m leading <a href="http://uxpin.com" class="simpleLink" title="UXPin">@uxpin</a>.<br>
                previously worked for <a href="http://nokaut.pl" class="simpleLink" target="_blank" title="go to nokaut.pl">nokaut.pl</a>, <a href="http://zjednoczenie.com" class="simpleLink" target="_blank" title="go to zjednoczenie.com">zjednoczenie.com</a>, <a href="http://engine.pl" class="simpleLink" target="_blank" title="go to engine.pl">engine.pl</a> and co-found taniprzeglad.pl.
            </p>
            <p>privately <a href="https://www.discogs.com/user/earl.debicki/collection" class="simpleLink icon--vinyl" target="_blank" title="check out my discogs collection">music collector</a>, <span class="icon--ticket">live music lover</span> and <a href="https://www.strava.com/athletes/44963726" class="simpleLink icon--bike" target="_blank" title="check out my strava account">beginner cyclist</a>.</p>
            <p>opened for remote job opportunities. feel free to <a href="mailto:bartosz.debicki@zoin.pl" class="decoratedLink" title="send me an email">contact me</a>.</p>
        </article>
        <footer id="bottomSection">
            <nav class="socialLinks">
                <ul class="separatedList">
                    <li class="separatedList__item">
                        <a
                            href="https://www.linkedin.com/in/bartoszdebicki/"
                            class="simpleLink"
                            target="_blank"
                            title="ny linkedIn profile"
                        >
                            linkedIn
                        </a>
                    </li>
                    <li class="separatedList__item">
                        <a
                            href="https://github.com/bdebicki"
                            class="simpleLink"
                            target="_blank"
                            title="my github profile"
                        >
                            github
                        </a>
                    </li>
                    <li class="separatedList__item">
                        <a
                            href="https://www.instagram.com/earl.debicki/"
                            class="simpleLink"
                            target="_blank"
                            title="my instagram profile"
                        >
                            instagram
                        </a>
                    </li>
                </ul>
                <p>made with <span class="icon--heart">❤</span> in gdynia, poland</p>
            </nav>
        </footer>
    </body>
</html>
