@import '../basis/spacings';

.icon {
	@pseudoEl: ~'after';

	.iconBase(@width, @height, @name, @align: center) {
		display: inline-flex;
		align-items: @align;

		&:@{pseudoEl} {
			content: '';
			display: inline-block;
			width: @width;
			height: @height;
			background-image: url("../../img/@{name}.svg");
			background-size: 100% 100%;
		}
	}

	&--replace-content {
		overflow: hidden;
		text-indent: -5000px;
	}
	&--in-text {
		&:@{pseudoEl} {
			margin-left: @spaceSize;
		}
	}

	&--bike {
		.iconBase(
			@width: 35px,
			@height: 20px,
			@name: 'bike'
		);
	}
	&--heart {
		.iconBase(
			@width: 18px,
			@height: 15px,
			@name: 'heart'
		);
	}
	&--ticket {
		.iconBase(
			@width: 39px,
			@height: 28px,
			@name: 'ticket',
			@align: 'baseline'
		);
	}
	&--vinyl {
		.iconBase(
			@width: 24px,
			@height: 24px,
			@name: 'vinyl'
		);
	}
}
