.linkDecoratorColor {
	&--color1 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #ffb997;
				--txt-color: fade(#a0796c, 50%);
			}
		}
	}
	&--color2 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #f67e7d;
				--txt-color: fade(#9E555F, 50%);
			}
		}
	}
	&--color3 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #843b62;
				--txt-color: fade(#C38FA9, 50%);
			}
		}
	}
	&--color4 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #0b032d;
				--txt-color: fade(#79738D, 50%);
			}
		}
	}
	&--color5 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #74546a;
				--txt-color: fade(#B69FAD, 50%);
			}
		}
	}
}
.linkDecoratorStyle {
	&--solid {
		&,
		.simpleLink__hoverHelper {
			&:before {
				height: 2px;
				background-color: var(--decorator-color);
			}
		}
	}
	&--dashed {
		&,
		.simpleLink__hoverHelper {
			&:before {
				height: 2px;
				background-image: linear-gradient(90deg, var(--decorator-color) 0%, var(--decorator-color) 60%, transparent 60%, transparent 100%);
				background-size: 10px 2px;
				background-repeat: repeat-x;
				background-color: transparent;
			}
		}
	}
	&--dotted {
		&,
		.simpleLink__hoverHelper {
			&:before {
				height: 2px;
				background-image: linear-gradient(90deg, var(--decorator-color) 0%, var(--decorator-color) 50%, transparent 50%, transparent 100%);
				background-size: 4px 2px;
				background-repeat: repeat-x;
				background-color: transparent;
			}
		}
	}
	&--double {
		&,
		.simpleLink__hoverHelper {
			&:before {
				height: 3px;
				background-image: linear-gradient(180deg, var(--decorator-color) 0%, var(--decorator-color) 33.3%, transparent 33.3%, transparent 66.6%, var(--decorator-color) 66.6%, var(--decorator-color) 100%);
				background-size: 1px 3px;
				background-repeat: repeat-x;
				background-color: transparent;
			}
		}
	}
}
