.linkDecoratorColor {
	&--color1 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #54e7fb;
			}
		}
	}
	&--color2 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #3290FE;
			}
		}
	}
	&--color3 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #5E23FF;
			}
		}
	}
	&--color4 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #CB22EB;
			}
		}
	}
	&--color5 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #ED1D67;
			}
		}
	}
	&--color6 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #F27E04;
			}
		}
	}
	&--color7 {
		&,
		.simpleLink__hoverHelper {
			&:before {
				--decorator-color: #FFA600;
			}
		}
	}
}
.linkDecoratorStyle {
	&--solid {
		&,
		.simpleLink__hoverHelper {
			&:before {
				height: 2px;
				background-color: var(--decorator-color);
			}
		}
	}
	&--dashed {
		&,
		.simpleLink__hoverHelper {
			&:before {
				height: 2px;
				background-image: linear-gradient(90deg, var(--decorator-color) 0%, var(--decorator-color) 60%, transparent 60%, transparent 100%);
				background-size: 10px 2px;
				background-repeat: repeat-x;
				background-color: transparent;
			}
		}
	}
	&--dotted {
		&,
		.simpleLink__hoverHelper {
			&:before {
				height: 2px;
				background-image: linear-gradient(90deg, var(--decorator-color) 0%, var(--decorator-color) 50%, transparent 50%, transparent 100%);
				background-size: 4px 2px;
				background-repeat: repeat-x;
				background-color: transparent;
			}
		}
	}
	&--double {
		&,
		.simpleLink__hoverHelper {
			&:before {
				height: 3px;
				background-image: linear-gradient(180deg, var(--decorator-color) 0%, var(--decorator-color) 33.3%, transparent 33.3%, transparent 66.6%, var(--decorator-color) 66.6%, var(--decorator-color) 100%);
				background-size: 1px 3px;
				background-repeat: repeat-x;
				background-color: transparent;
			}
		}
	}
}
