.selectionColor {
	&--color1 {
		--selection-color: #54e7fb;
	}
	&--color2 {
		--selection-color: #3290FE;
	}
	&--color3 {
		--selection-color: #5E23FF;
	}
	&--color4 {
		--selection-color: #CB22EB;
	}
	&--color5 {
		--selection-color: #ED1D67;
	}
	&--color6 {
		--selection-color: #F27E04;
	}
	&--color7 {
		--selection-color: #FFA600;
	}
}
