@import '../helpers/linkBase';
@import '../helpers/responsiveBreakpoints';
@import '../basis/colors';
@import '../basis/sharedVariables';

.simpleLink {
	.handlers(@content) {
		&:not(.simpleLink--with-icon),
		.simpleLink__hoverHelper {
			@content();
		}
	}

	.simpleLink__hoverHelper {
		line-height: normal;
	}
	&.simpleLink--with-action {
		&:after {
			display: none;
		}
	}

	.desktop({
		&:hover {
			color: var(--txt-color);

			&:not(.simpleLink--with-action) {
				.handlers({
					.linkBase(@initialColor: false, @position: 'middle');
				});
			}

			&.simpleLink--with-action {
				&:after {
					display: block;
				}

				.handlers({
					.linkBase(@initialColor: false, @position: 'middle', @action: true);
				});
			}
		}
	});

	.mobile({
		.handlers({
			.linkBase(@initialColor: false);

			&:before {
				height: 2px;
				background-color: var(--mobile-decorator-color);
				opacity: 0.3;
			}
		});

		&--weight-light {
			.handlers({
				&:before {
					height: 1px;
					opacity: 0.5;
				}
			});
		}
	});
}
